.game-card-img-wrapper {
    /* margin: 5px; */
    border: 2px solid darkgray;
    border-radius: 5px;
    padding: 2px;
}

.game-card-img-wrapper img {
    /*  */
    object-fit: cover; /* Do not scale the image and make it cover all spaces*/
    object-position: center; /* Center the image within the element */
    width: 100%;
    /* Fix the hight proportionally to the ViewPort or Fix It */
    height: 25vh;
    /* height: 200px; */
}

@keyframes shake {
    10%, 90% {
      transform: translate3d(-1px, 0, 0);
    }
    
    20%, 80% {
      transform: translate3d(2px, 0, 0);
    }
  
    30%, 50%, 70% {
      transform: translate3d(-4px, 0, 0);
    }
  
    40%, 60% {
      transform: translate3d(4px, 0, 0);
    }
  }

.shake {
    -webkit-animation: shake .5s .0125s;
    animation: shake .5s .0125s;
}
/* 
.game-card-img-wrapper:hover {
    background-size: cover;
    background-position: 50%;
    height: 170px;
    width: 170px;
    margin: 8px 25px;
    border: 5px solid #f1f1f1;
    border-radius: 3px;
    -webkit-box-shadow: 0 3px 6px rgba(0,0,0,.16), 0 3px 6px rgba(0,0,0,.23);
    box-shadow: 0 3px 6px rgba(0,0,0,.16), 0 3px 6px rgba(0,0,0,.23);
    cursor: pointer;
} */